<?xml version="1.0" encoding="UTF-8" ?>
<document>
   <productTemplate>
      <background>
      </background>
      <banner>
         <infoList>
            <info>
               <header>
                  <title>Director</title>
               </header>
               <text>{{director}}</text>
            </info>
            <info>
               <header>
                  <title>Actors</title>
               </header>
               {{#each cast}}
                <text>{{talent_full_name}}</text>
               {{/each}}
            </info>
         </infoList>
         <stack>
            <title>{{title.display_title}}</title>
            <row>
               <text>{{length}}</text>
               <text>{{genre}}</text>
               <text>{{date}}</text>
            </row>
            <description handlesOverflow ="true">{{title.info.synopsis}}</description>
            <row>
              {{#each offerings}}
                <buttonLockup onselect="playMedia('{{videoUrl}}','video')">
                    <badge src="resource://button-preview" />
                    <title>{{display_name}}</title>
                </buttonLockup>
               {{/each}}
            </row>
         </stack>
         <heroImg src="{{title.posterUrl}}" />
      </banner>
  </productTemplate>
</document>