<?xml version="1.0" encoding="UTF-8" ?>
<document>
   <listTemplate>
      <banner>
         <title>Eluvio TV</title>
      </banner>
      <list>
         <header>
            <title>Available Sites</title>
         </header>
         <section>
            {{#each sites}}
                <listItemLockup onselect="loadSite({{@index}})">
                <title>{{display_title}}</title>
                <relatedContent>
                    <lockup>
                        <img src="{{landscape_logo}}" width="1200" height="500" />
                        <title>{{display_title}}</title>
                        <description>{{info.synopsis}}</description>
                    </lockup>
                </relatedContent>
                </listItemLockup>
            {{/each}}
         </section>
      </list>
   </listTemplate>
</document>