<?xml version="1.0" encoding="UTF-8" ?>
<document>
<stackTemplate>    
    <background>
        <img src="{{main_background}}"/>
    </background>
    <collectionList >
        {{#each playlists}}
            <shelf>
                <section>
                    <header>
                        <title>{{{name}}}</title>
                    </header>
                    {{#titles}}
                        <lockup onselect="loadTitle('{{@root.site_id}}','{{versionHash}}')">
                            <img src="{{posterUrl}}" width="400" height="240" />
                            <title>{{display_title}}</title>
                        </lockup>
                    {{/titles}}
                </section>
            </shelf>
        {{/each}}
        <shelf>
            <section>
                <header>
                    <title>All Titles</title>
                </header>
                {{#each titles}}
                    <lockup onselect="loadTitle('{{@root.site_id}}','{{versionHash}}')">
                        <img src="{{posterUrl}}" width="400" height="240" />
                        <title>{{display_title}}</title>
                    </lockup>
                {{/each}}
            </section>
        </shelf>
    </collectionList>
</stackTemplate>
</document>