<?xml version="1.0" encoding="UTF-8" ?>
<document>
<menuBarTemplate>
        <row style="margin:20" >
            <img style="tv-content-align:top; tv-align:left" src="{{title_logo}}" width="100" height="100" />
            <header style="tv-content-align:top; tv-align:left; margin:20">
                <title style="text-align:left; color:{{title_color}}" >{{display_title}}</title>
                <description style="text-align:left; font-size:20">Powered by Eluvio</description>
                <description style="text-align:left; font-size:18">{{date}}</description>
            </header>
        </row>
        <menuBar>
            <menuItem id="navigation_top_watch" documentURL="redeemwatch.hbs/{{site_index}}" autoHighlight="true">
                <title>Watch</title>
            </menuItem>
            <menuItem id="navigation_settings" documentURL="settings.hbs">
                <title>Settings</title>
            </menuItem>
        </menuBar>
    <row style="margin:50" />
</menuBarTemplate>
<div id="site_info" data-value='{{site_info}}'/>
</document>