<?xml version="1.0" encoding="UTF-8" ?>
<document>
    <listTemplate>
        <background>
            <img src="{{eluvio_background}}"/>
        </background>
      <list>
         <section>
            <listItemLockup onselect="setRegion('auto')">
                <decorationImage src="resource://button-more" />
                <title>Auto</title>
                <relatedContent>
                    <lockup>
                        <img src="{{map}}" height="1000" />
                        <title>Automatic Region</title>
                        <description>The closest Fabric Node will be used.</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

            <listItemLockup onselect="setRegion('na-west-north')">
                <decorationImage src="resource://button-more" />
                <title>NA-WEST-NORTH</title>
                <relatedContent>
                    <lockup>
                        <img src="{{map_na-west-north}}" height="1000" />
                        <title>NA-WEST-NORTH</title>
                        <description>North America North West</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

            <listItemLockup onselect="setRegion('na-west-south')">
                <decorationImage src="resource://button-more" />
                <title>NA-WEST-SOUTH</title>
                <relatedContent>
                    <lockup>
                        <img src="{{map_na-west-south}}" height="1000" />
                        <title>NA-WEST-SOUTH</title>
                        <description>North America South West</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

            <listItemLockup onselect="setRegion('na-east)">
                <decorationImage src="resource://button-more" />
                <title>NA-EAST</title>
                <relatedContent>
                    <lockup>
                        <img src="{{map_na-east}}" height="1000" />
                        <title>NA-EAST</title>
                        <description>North America East</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

            <listItemLockup onselect="setRegion('eu-west)">
                <decorationImage src="resource://button-more" />
                <title>EU-WEST</title>
                <relatedContent>
                    <lockup>
                        <img src="{{map_eu-west}}" height="1000" />
                        <title>EU-WEST</title>
                        <description>Europe West</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

            <listItemLockup onselect="setRegion('eu-east)">
                <decorationImage src="resource://button-more" />
                <title>EU-EAST</title>
                <relatedContent>
                    <lockup>
                        <img src="{{map_eu-east}}" height="1000" />
                        <title>EU-EAST</title>
                        <description>Europe East</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

            <listItemLockup onselect="setRegion('as-east)">
                <decorationImage src="resource://button-more" />
                <title>AS-EAST</title>
                <relatedContent>
                    <lockup>
                        <img src="{{map_as-east}}" height="1000" />
                        <title>AS-EAST</title>
                        <description>Asia East</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

            <listItemLockup onselect="setRegion('au-east)">
                <decorationImage src="resource://button-more" />
                <title>AU-EAST</title>
                <relatedContent>
                    <lockup>
                        <img src="{{map_au-east}}" height="1000" />
                        <title>AU-EAST</title>
                        <description>Australia East</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

         </section>
      </list>
    </listTemplate>
</document>