<?xml version="1.0" encoding="UTF-8"?>
<document>
    <head>
        <style>
            .font {
                tv-text-style: none;
                font-size: 48;
            }
        </style>
    </head>
    <descriptiveAlertTemplate>
        <infoTable>
            <info>
                <header>
                    <title>Fabric Node: </title>
                </header>
                <text>{{fabric_node}}</text>
            </info>
            <info>
                <header>
                    <title>App ID: </title>
                </header>
                <text>{{app_id}}</text>
            </info>
            <info>
                <header>
                    <title>App Version: </title>
                </header>
                <text>{{app_version}}</text>
            </info>
            <info>
                <header>
                    <title>Session ID: </title>
                </header>
                <text>{{session_id}}</text>
            </info>
            <info>
                <header>
                    <title>System Version: </title>
                </header>
                <text>{{system_version}}</text>
            </info>
            <info>
                <header>
                    <title>System Lang: </title>
                </header>
                <text>{{system_lang}}</text>
            </info>
        </infoTable>
    </descriptiveAlertTemplate>
</document>
