<?xml version="1.0" encoding="UTF-8" ?>
<document>
<menuBarTemplate>
        <row style="margin:20" >
            <img contentsMode="aspectFit" style="tv-content-align:top; tv-align:left" src="{{title_logo}}" width="500" height="120" />
            <header style="tv-content-align:top; tv-align:left; margin:20">
                <title style="text-align:left; color:{{title_color}}" >{{display_title}}</title>
            </header>
        </row>
        <menuBar>
            <menuItem id="navigation_top_watch" documentURL="watch.hbs/{{network}}/{{site_index}}" autoHighlight="true">
                <title>Watch</title>
            </menuItem>
            <menuItem id="navigation_settings" documentURL="settings.hbs">
                <title>Settings</title>
            </menuItem>
        </menuBar>
    <row style="margin:50" />
</menuBarTemplate>
</document>