<?xml version="1.0" encoding="UTF-8" ?>
<document>
<stackTemplate>
    <collectionList >
        {{#each playlists}}
            <shelf>
                <section>
                    <header>
                        <title>{{{name}}}</title>
                    </header>
                    {{#titles}}
                        <lockup onselect="loadPlaylistTitle({{../../site_index}},{{@../index}},{{@index}})">
                            <img src="{{posterUrl}}" width="400" height="240" />
                            <title>{{display_title}}</title>
                        </lockup>
                    {{/titles}}
                </section>
            </shelf>
        {{/each}}
    </collectionList>
</stackTemplate>
</document>